<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Web-Stacks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/technology" routerLinkActive="active">Technology </a></li>

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trending <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Javascript Frameworks</a></li>
            <li><a href="#">Mobile Technology</a></li>
            <li><a href="#">Artificial Intelligence</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Big Data</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">More...</a></li>
          </ul>
        </li>-->
        <li><a a routerLink="/tech-history" routerLinkActive="active">Tips & Tricks</a></li>
        <li><a a routerLink="/tech-history" routerLinkActive="active">App Reviews</a></li>
                <li><a routerLink="/our-products" routerLinkActive="active">Our Products</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" disabled>
        </div>
        <button type="submit" class="btn btn-success" disabled>Search</button>
      </form>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
