<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <section id="contact" class="content-section text-center">
    <div class="contact-section">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Feel free to shout us by feeling the contact form or visiting our social network sites like Fackebook,Whatsapp,Twitter.</p>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label for="txtName">Name</label>
              <input type="text" class="form-control" id="txtName" placeholder="Jane Doe" formControlName="name" required>
              <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name | initial : 'ok' }}
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="jane.doe@example.com" formControlName="email" required>
              <div *ngIf="formErrors.email" class="alert alert-danger">
                {{ formErrors.email }}
              </div>
            </div>
            <div class="form-group">
              <label for="txtSubject">Subject</label>
              <input type="text" class="form-control" id="txtSubject" placeholder="Subject" formControlName="subject" required>
              <div *ngIf="formErrors.subject" class="alert alert-danger">
                {{ formErrors.subject }}
              </div>
            </div>
            <div class="form-group ">
              <label for="Description">Message</label>
              <textarea class="form-control" placeholder="Description" name="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!contactForm.valid">Send Message</button>

            <hr>
            <h3>Our Social Sites</h3>
            <ul class="list-inline banner-social-buttons">
              <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
              <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
              <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>