<div class="customHeight">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
      <li data-target="#bs-carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <article>
            <h1>Latest Technology</h1>
            <h3>Updates on latest Javascript Frameworks, Setup and First App</h3>
          </article>
          <button class="btn btn-hero btn-lg" role="button">Explore</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <article>
            <h1>Our Products</h1>
            <h3>Open source utilities and applications</h3>
          </article>
          <button class="btn btn-hero btn-lg" role="button">Explore</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <article>
            <h1>Latest Updates</h1>
            <h3>Get Latest facts related to Technical World</h3>
          </article>
          <button class="btn btn-hero btn-lg" role="button">Explore</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-4"></div>
        <div class="hero">
          <article>
            <h1>Contact Us</h1>
            <h3>Give your Feedback</h3>
          </article>
          <button class="btn btn-hero btn-lg" role="button">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="blog" class="row">
    <div class="row">
      <div class="col-md-6 blogShort">
        <h1>Angular 2</h1>
        <img src="../../assets/images/angular2_logo.png" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

        <em>By <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Administrator</a></em>
        <article>
          <p>
            <b>J</b>avaScript popularity continues its rising. In 2016 we’ve witnessed such great changes, as AngularJS entire
            upgrade and introduction of Angular 2, ultimate dominating of jQuery that is applied on 96.5% of all JS sites,
            evolution of ECMAScript, two updates of Node.js in April and October accordingly, React finest hours, and even
            more. What to expect from 2017? — Here’s what we know so far: Angular 4 is expected in March 2017, ES2017 edition
            is planned for mid-2017, Bootstrap v4 release should be anticipated this year as well....
          </p>
        </article>
        <a routerLink="/tech-history" routerLinkActive="active" class="btn btn-blog pull-right marginBottom10">READ MORE</a>
      </div>
      <div class="col-md-6 blogShort">
        <h1>Google will no longer read your email to serve you ads</h1>
        <img src="../../assets/images/google.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
        <article>
          <p>
            Privacy advocates have long criticized Google's practice of using email data to tailor advertising, but now the company is
            putting an end to the method. Google (GOOG) announced the change in a blog post on Friday. It will go into effect
            later this year The move is in line with Google's existing G Suite Gmail service for businesses, which doesn't
            scan email data for personalized ads. Now its free Gmail service will have the same rules.....
          </p>
        </article>
        <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 blogShort">
        <h1>Amazing Javascript Frameworks</h1>
        <img src="../../assets/images/angular2_logo.png" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

        <em>By <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Administrator</a></em>
        <article>
          <p>
            <b>J</b>avaScript popularity continues its rising. In 2016 we’ve witnessed such great changes, as AngularJS entire
            upgrade and introduction of Angular 2, ultimate dominating of jQuery that is applied on 96.5% of all JS sites,
            evolution of ECMAScript, two updates of Node.js in April and October accordingly, React finest hours, and even
            more. What to expect from 2017? — Here’s what we know so far: Angular 4 is expected in March 2017, ES2017 edition
            is planned for mid-2017, Bootstrap v4 release should be anticipated this year as well....
          </p>
        </article>
        <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
      </div>

      <div class="col-md-6 blogShort">
        <h1>Amazing Javascript Frameworks</h1>
        <img src="../../assets/images/angular2_logo.png" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

        <em>By <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Administrator</a></em>
        <article>
          <p>
            <b>J</b>avaScript popularity continues its rising. In 2016 we’ve witnessed such great changes, as AngularJS entire
            upgrade and introduction of Angular 2, ultimate dominating of jQuery that is applied on 96.5% of all JS sites,
            evolution of ECMAScript, two updates of Node.js in April and October accordingly, React finest hours, and even
            more. What to expect from 2017? — Here’s what we know so far: Angular 4 is expected in March 2017, ES2017 edition
            is planned for mid-2017, Bootstrap v4 release should be anticipated this year as well....
          </p>
        </article>
        <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
      </div>
    </div>

    <div class="col-md-10 blogShort">
      <article>
      </article>
    </div>



    <div class="col-md-12 gap10"></div>
  </div>
</div>